.hero{
    margin: 50px 0;
}

.hero__img{
    object-fit: contain;
    height: auto;
    width: 100%;
}

.hero__title{
    margin: 30px 0 !important;
    font-weight: 500;
}

.hero__subtitle{
    letter-spacing: 2px !important;
    font-size: 1rem !important;
    line-height: 1.9
}

.hero__buttons{
    padding: 0 !important;
    margin: 50px 0 20px;
}